 .fix{
    position:fixed;
    bottom: 15px;
    right: 10%;
    }
 .fixcenter{
 	position:fixed;
    bottom: 40px;
    right: 46%;
 	}
 	
 	.user{
	margin-right: 10%;
	color: white;
	}


.painel{
margin-right: 100px;
margin-left: 100px;
margin-top: 50px;
margin-bottom: 60px;
}

.espaco-direita{

float: right;
padding-right: 80px;

}

.espaco-esquerda{
float: left;
padding-left: 80px;

}
.imagemfundo{
  background-image: url("../Images/tools1.png");
  	/*background-repeat: no-repeat;
  	/*opacity: 0.6;
  	text-decoration: ;*/
    -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;
}

.bodylogin {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 5px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;

}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
