<!DOCTYPE html>
<html ng-app lang="en">
<head>
  <title>Pontuação e respostas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="Images/AWS.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="CSS/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <img src="Images/cloud1.png" class="img-rounded">
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <h4 class="user" id="user"></h4>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
<div class="container">

  <form action="index.html">

    <div class="row">
      <div class="col-md-3">

      </div>
      <div ng-controller="Score" class="col-md-6">
        <br><br><br><br><br>
        <h1 align="center">Seu desempenho</h1>
        <br><br>

        <table class="table">
          <thead>
            <tr>
              <th>Questão</th>
              <th>Pontuação</th>
              <th>Pontuação Total</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td> 1 </td>
              <td id="score1">{{ score.1 }}</td>
            </tr>

            <tr>
              <td> 2 </td>
              <td id="score2">{{ score.2 }}</td>
            </tr>

            <tr>
              <td> 3</td>
              <td id="score3">{{ score.3 }}</td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td id="finalscore">{{ score.Total }}</td>
            </tr>
          </tbody>
        </table>
        <div class ="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">

            <button class="btn btn-lg btn-warning btn-block" style="color:black" type="submit">Encerrar</button>
          </div>
          <div class="col-md-3">
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <footer>
          <p><img src="Images/PoweredBy.png" class="img-rounded fix" ></p>
        </footer>

      </div>
    </div>
  </form>

</div>
</body>
<script>
function Score($scope, $http) {
  var user = new RegExp('[\?&]' + 'ClientID' + '=([^&#]*)').exec(window.location.href)[1];
  $http({
    method: 'GET',
    url: 'https://9ol3zwwlbf.execute-api.us-east-1.amazonaws.com/Dev/working?ClientID=' + user
  }).then(function successCallback(response) {
    $scope.score = response.data;
  }, function errorCallback(response) {
    // called asynchronously if an error occurs
    // or server returns response with an error status.
  });
}
</script>
</html>
